#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

#Banco de dados
*.db
*.db-shm
*.db-wal

#IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

#Sistema operacional
.DS_Store
Thumbs.db

#Logs
*.log